.primary {
	background: #EE8130;
	border: none;
	border-radius: 10rem;
	cursor: pointer;
	color: white;
	font-family: "Pokemon", sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin: 0 auto;
	padding: 15px 50px;
	width: 200px;
  
	&:hover,
	&:focus {
	  background: #F5DF4D;
	}
  }

.secundary {
	background-color: #f5d20d;
	border: 2px solid #0f31f3;
	border-radius: 50px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: -50px;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	width: 130px;
  
	&:hover {
	  background-color: #0f31f3;
	  border: 2px solid #f5d20d;
	  color: rgb(255, 255, 255);
	}
  }
