.divTypes{
    max-width: 900px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .typesFilterButton{
        background: transparent;
        border: 0;
        color: #e4000f;
        font-family: "Quicksand", sans-serif;  
        font-size: 1.2rem;
        margin: 0 1rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: white;
            text-shadow: 1px 1px black;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    span {
        font-size: 0.75rem;
        color: #4a4a4a;
        font-family: "Quicksand", sans-serif;  
    }

    .imageType{
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10rem;
        margin-bottom: .25rem;
        cursor: pointer;
        transition: all .2s;
        border: 1px solid #e4000f;
        background-color: #f8d030;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px 2px #0098e4;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
