.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    button {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #333;
      cursor: pointer;
      font-size: 14px;
      padding: 5px 10px;
      margin: 0 5px;
  
      &:hover {
        background-color: #f7f7f7;
      }
  
      &.active {
        background-color: #ffc107;
        border-color: #ffc107;
        color: #fff;
        position: relative;
  
        &:after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          background-image: url("https://img.icons8.com/color/48/000000/pikachu-pokemon.png");
          background-size: cover;
        }
      }
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  
    label {
      font-size: 16px;
      margin: 0 10px;
    }
  }